@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-color: #c26f4f;
  min-height: 100vh;
  padding: 15px;
  width: 400px;
  padding-top: 30px;
}

.profile {
  font-size: 10px;
}

.profile-heading {
  font-size: 20px;
  width: 100px;
  margin-left: 10px;
  margin-right: 30px;
  font-weight: bold;
  font-family: "Roboto";
  color: #0e091f;
}

.profile-sub-heading {
  font-size: 10px;
  width: 100px;
  margin-left: 10px;
  font-family: "Roboto";
  color: #0e091f;
}

.paragrph {
  font-size: 8px;
  margin: 0px;
  font-family: "Roboto";
  margin-left: 40px;
  color: #0e091f;
}

.paragrph-address {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Roboto";
  margin-left: 40px;
  color: #0e091f;
}

.vr-line {
  border-left: 3px solid black;
  height: 87px;
  position: absolute;
  left: 50%;
  margin-right: 20px;
  margin-left: 0px;
  top: 0;
}

.hr-line {
  border: 1px solid black;
  margin-top: 0px;
  width: 86%;
  margin-left: 50px;
  color: #0e091f;
}

.line {
  border: 1.5px solid black;
  margin-top: -17px;
  margin-bottom: 0px;
  margin-left: 15px;
  height: 130px;
  color: #0e091f;
}

.main-paragraph {
  font-size: 8px;
  margin: 0px;
  font-family: "Roboto";
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 3px;
  color: #0e091f;
}

.work-paragraph {
  font-size: 8px;
  margin: 0px;
  font-family: "Roboto";
  margin-left: 20px;
  color: #0e091f;
}

.year {
  font-size: 8px;
  margin-left: 35px;
  color: #0e091f;
}

.icons {
  height: 50px;
  width: 50px;
  background-color: #0e091f;
  border-radius: 34px;
  text-align: center;
  padding-top: 12px;
  color: #c26f4f;
  font-size: 25px;
}

.icon {
  width: 10px;
  height: 10px;
}

.dot {
  font-size: 8px;
  border-radius: 5px;
  margin: 2px;
  margin-top: 8px;
  color: #0e091f;
}

.iconss {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-radius: 34px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
  color: #121729;
  color: #0e091f;
}

.skills-container {
  width: 60px;
}

.skills-container-width {
  margin-left: -30px;
}

.icon-name {
  font-size: 10px;
  font-family: "Roboto";
  margin-left: 5px;
  margin-top: 5px;
  color: #0e091f;
}

.bg-color {
  background-color: #c26f4f;
  color: #c26f4f;
}
